'scopeName': 'source.tplpre'
'name': 'Tplpre'
'fileTypes': [
  'tplpre'
  'tpl'
]
'firstLineMatch': '.*'
'patterns': [
  {
    'include': '#line_comments'
  }
  {
    'include': 'doc_strings'
  }
  {
    'include': 'comment_TODO_line'
  }
  {
    'include': 'comment_line'
  }
  {
    'include': 'metadata_2'
  }
  {
    'include': 'overwiev'
  }
  {
    'include': 'simple_identifiers'
  }
  {
    'include': 'if_addm'
  }
]