# Alexander Danylchenko
# BMC tpl\tplre language settings.
# 2017-08-14 - Latest version.
# experimental:
'.source.tplpre':
  'editor':
    'autoIndentOnPaste': true
    'softTabs': true
    'tabLength': 4
    'commentStart': '// '
    'increaseIndentPattern': '(if|elif).*(\\S+\\s+then)\\b.*$'
    'increaseIndentPattern': '(for).*(\\S+\\s+do)\\b.*$'
    'decreaseIndentPattern': '(end\\sif;|end\\sfor;)$'
    'decreaseNextIndentPattern': '^\\s*(pass;|break;)\\b.*$'
